:root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block; /* Remover o place-items center do Vite */
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
